/*--------------------------------------------------------------------------------------------------
-- Defaults
--------------------------------------------------------------------------------------------------*/
@font-face {
  src: url('./fonts/Quicksand/Quicksand-Medium.ttf');
  font-family: Quicksand;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: Quicksand;
}

.container {
  max-width: 850px;
  width: 90%;
  margin: 0 auto;
}

.shadow-box {
  box-shadow: 0 5px 20px -5px rgba(100, 100, 100, .5);
}


/*--------------------------------------------------------------------------------------------------
-- page styles
--------------------------------------------------------------------------------------------------*/

/* NavBar Style */
nav {
  padding: .2em 0;
  background: #272822;
  color: #fff;
  font-size: 3rem;
  box-shadow: 0 10px 10px -5px rgba(100, 100, 100, .8);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 5rem;
}

/* Content Style */
.content {
  margin-top: 3em;
}

.content ol {
  list-style: none;
}

.content li {
  margin-top: 3em;
  background: #ccc;
}

.content li::marker {
  font-weight: 600;
}

.content li h3 {
  padding: .5em .5em 0 .5em;
  font-size: 1.3rem;
}

/*--------------------------------------------------------------------------------------------------
-- Footer style
--------------------------------------------------------------------------------------------------*/
footer {
  margin-top: 1em;
  padding: .8em 0;
  background: #272822;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}



/*--------------------------------------------------------------------------------------------------
-- prism toolbar style editing
--------------------------------------------------------------------------------------------------*/
pre[class*="language-"] {
  border-radius: 0 !important;
  /* padding: 0 !important; */
}

.toolbar-item button {
  outline: none;
  padding: .1em .4em !important;
  border: 1px solid #fff !important; 
  border-radius: 50px !important;
  font-size: 1rem !important;
  cursor: pointer !important;
}

.toolbar-item button:hover {
  color: #fff !important;
}
